@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html body{
    font-family: Roboto, sans-serif; 
}

.sign-login {
    font-size: 150%;
}

.nav li {
    list-style: none;
}

.nav a, .nav input{
    cursor: pointer;
    color: red;
    transition:0.3s ease;
}

.nav a:hover{
    color:blue;
    text-decoration: none;
    transition:0.3s ease;
}

.pd-2{
    padding: 1em 3rem;
    padding-right: 4rem;
}

.navbar-brand img{
    width: 15em;
}

.container-fluid{
    width: 75%;
}

th, td{
    border:2px solid #888;
    padding:15px;
}