@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html body{
    font-family: Roboto, sans-serif; 
}


.navbar-brand img{
    width: 15em;
}

.container-fluid{
    width: 75%;
}